html, body {
  height: 100%;
}

body {
  display: grid;
  font-family: Avenir, sans-serif;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(251, 67, 35, 0.9);
  width: 56px;
  height: 56px;
  transition: all 0.5s ease-in-out;
}
.cta span {
  position: relative;
  font-size: 13px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  display: none;
}
.cta img {
  position: relative;
  top: -7px;
  left: -17px;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.5s ease-in-out;
  width: 38px;
  height: 38px;
}
.cta:hover:before{
  width: 110%;
  background: #e84023;
  box-shadow: 0px 0px 5px 2px rgb(248, 51, 51);
}
.cta:hover img {
  top: -23px;
  left: 65px;
}
.cta:active {
  transform: scale(0.96);
}




